body{
    margin: auto;
    width: 80%;
    /* border: 1px solid black; */
    background-color: #D4EFDF;
    font-family: "Gowun Batang", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
}

section{
    border: 1px solid black;
}

#FotoHeader{
    height: 100px;
    width: 150px;
}

img{
    margin: 10px 10px 1px 10px;
}

figure{
    border: 2px solid black;
    width: fit-content;
}

figcaption{
    font-size: x-large;
    text-align: center;
}