button{
    background-color: blueviolet;
    color: aqua;
    width: 60px;
    height: 60px;
    border: 2px solid aqua;
    border-radius: 100%;
}

button:hover{
    background-color: black;
    color: red;
    border: 2px solid red;
    cursor: pointer;
    position: relative;
    left: 200px;
}

p:hover{
    color: yellow;
    background-image: linear-gradient(darkblue, violet);
}

input:focus{
    background-color: lightblue;
}

li:first-child{
    border: 1px solid rgb(0, 4, 255);
}

#p2::after{
    content: "Aqui add o after";
    border: 1px dotted black;
}

#p2::before{
    content: "Aqui add o Before";
    border: 1px dashed black;
}

.p3::first-letter{
    font-size: 2em;
    font-weight: 800;
    color: red;
}

.p3::first-line{
    background-image: linear-gradient(rgb(43, 255, 0), rgb(0, 0, 0));
    color: aliceblue;
}

#p5::selection{
    background-color: goldenrod;
    color: rgb(255, 0, 234);
}